<!DOCTYPE html>
<html>
<head>
  <title>Stories</title>
  <!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,300,600' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>  
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="menu">
        <ul>
          <li><%= link_to "home", root_path %></li>
          <li><%= link_to "about", about_path %></li>
          <li><%= link_to "sign up", about_path %></li>
        </ul>
    	<img alt="Close" class="icon-close" src="https://s3.amazonaws.com/codecademy-content/projects/z2d/stories/close-white.svg" width="24px">
    </div>
  <img alt="Open" class="icon-menu" src="https://s3.amazonaws.com/codecademy-content/projects/z2d/stories/menu-white.svg" width="24px">

	<%= yield %>
  <div class="footer">
  <div class="container">
    <p>A dickhead project</p>
  </div>
</div>

  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
</body>
</html>
